//==============================================================================================
// FUNCTIONS
//----------------------------------------------------------------------------------------------
// Provides basic Sass functions that can be reused across the site. More advanced functions
// written in Ruby will be managed and compiled independently.
//==============================================================================================
