//==============================================================
// VARIABLES
//--------------------------------------------------------------
// Primary customization point for making expected modifications
// to the site.
//==============================================================

//--------------------------------------------------------------
// BASE
//--------------------------------------------------------------
  $font-family                  : "'Helvetica', 'Arial', sans-serif";
  $font-size                    : 10px;
  $error-color                  : "red";

//--------------------------------------------------------------
// COMPONENTS
//--------------------------------------------------------------


//--------------------------------------------------------------
// GLOBAL
//--------------------------------------------------------------


//--------------------------------------------------------------
// LAYOUT
//--------------------------------------------------------------


//--------------------------------------------------------------
// OVERRIDES
//--------------------------------------------------------------


//--------------------------------------------------------------
// THEMES
//--------------------------------------------------------------


//--------------------------------------------------------------
// VENDOR
//--------------------------------------------------------------


//--------------------------------------------------------------
// VIEWS
//--------------------------------------------------------------
