//==============================================================================================
// TYPOGRAPHY
//----------------------------------------------------------------------------------------------
// Overrides type-related settings such as default fonts, headings, and common text-related
// styles, such as .error.
//----------------------------------------------------------------------------------------------
// NOTE: Font imports should be placed in the _fonts.scss file.
//==============================================================================================

//----------------------------------------------------------------------------------------------
// VARIABLES
//----------------------------------------------------------------------------------------------
  $font-family                  : "'Helvetica', 'Arial', sans-serif" !default;
  $font-size                    : 10px                          !default;
  $error-color                  : "red"                         !default;

//----------------------------------------------------------------------------------------------
// DEFAULTS
//----------------------------------------------------------------------------------------------
  body {
    font-family                 : $font-family;
    font-size                   : $font-size;
  }

//----------------------------------------------------------------------------------------------
// HEADINGS
//----------------------------------------------------------------------------------------------
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {

  }

//----------------------------------------------------------------------------------------------
// GLOBAL CLASSES
//----------------------------------------------------------------------------------------------
  .error {
    color                       : $error-color;
  }